<form
  autocomplete="off"
  class="content"
  fxLayout="column"
  [formGroup]="purchaseDataForm"
>
  <h1>VAT CALCULATOR (AUSTRIA)</h1>

  <mat-form-field appearance="outline">
    <mat-label>VAT rate</mat-label>
    <mat-select formControlName="rate" #rate>
      <mat-option *ngFor="let option of rates" [value]="option.value">{{
        option.viewValue
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Net Value (Price excluding VAT)</mat-label>
    <mat-icon aria-hidden="false" matPrefix>euro_symbol</mat-icon>
    <input
      matInput
      formControlName="net"
      #net
      (focus)="netValueSelection()"
      currencyMask
      [options]="{ prefix: '', thousands: '.', decimal: ',' }"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>VAT Value</mat-label>
    <mat-icon aria-hidden="false" matPrefix>euro_symbol</mat-icon>
    <input
      matInput
      formControlName="vat"
      #vat
      (focus)="vatValueSelection()"
      currencyMask
      [options]="{ prefix: '', thousands: '.', decimal: ',' }"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Gross Value (Price including VAT)</mat-label>
    <mat-icon aria-hidden="false" matPrefix>euro_symbol</mat-icon>
    <input
      #gross
      matInput
      formControlName="gross"
      (focus)="grossValueSelection()"
      currencyMask
      [options]="{ prefix: '', thousands: '.', decimal: ',' }"
    />
  </mat-form-field>
  <button
    mat-raised-button
    fxFlexAlign="center"
    (click)="clearButton()"
    color="primary"
  >
    CLEAR
  </button>
</form>
