h1 {
  margin-bottom: 30px;
}

mat-icon {
  margin-right: 8px;
}

p,
mat-label,
#radio-group-label {
  font-size: 15px;
}

mat-radio-button {
  margin-right: 15px;
}

#div-radio-group,
#div-inputs {
  margin-bottom: 30px;
}

#radio-group-label {
  padding-bottom: 1.34375em;
}
