mat-card-title {
  margin-bottom: 50px;
}

mat-icon {
  margin-right: 8px;
}

mat-card {
  min-width: 300px;
}

mat-card-title,
mat-icon,
p {
  color: #2e2e2e;
}

p {
  font-size: 17px;
  font-weight: 500;
}

mat-label {
  font-size: 15px;
}

mat-radio-button {
  margin-right: 15px;
}

#div-rate {
  margin-bottom: 40px;
  padding-top: 1.34375em;
}

mat-card-content {
  margin-bottom: 0px;
}
